@model ZOOLO.Models.Plans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zoologico.NombreZoo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zoologico.NombreZoo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZonaPlans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZonaPlans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPlans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPlans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZonaAdicPlans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZonaAdicPlans)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPlans }) |
    @Html.ActionLink("Back to List", "Index")
</p>
