@model IEnumerable<ZOO_PROYECT.Models.Vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MarcaVehi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacaVehi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MarcaVehi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlacaVehi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdVehi }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdVehi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdVehi })
        </td>
    </tr>
}

</table>
