@model ZOOLO.Models.Trabajador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trabajador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zona.NombreZona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zona.NombreZona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreTrab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTrab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoTrab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoTrab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionTrab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionTrab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoTrab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoTrab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoSangreTrab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSangreTrab)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTrab }) |
    @Html.ActionLink("Back to List", "Index")
</p>
