@model IEnumerable<ZOOLO.Models.Cita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animal.CategoriaAnim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veterinario.NombreVete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraCita)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.CategoriaAnim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veterinario.NombreVete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraCita)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCita }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCita }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCita })
        </td>
    </tr>
}

</table>
