@model IEnumerable<ZOO_PROYECT.Models.PlansCliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaPlansCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumPersonasPlansClie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorPlansClie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.NombreClie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plans.ZonaPlans)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPlansCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumPersonasPlansClie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorPlansClie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NombreClie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plans.ZonaPlans)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPlansClie }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPlansClie }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPlansClie })
        </td>
    </tr>
}

</table>
