@model ZOO_PROYECT.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreClie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreClie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoClie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoClie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionClie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionClie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiudadClie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadClie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacClie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacClie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoClie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoClie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdClie }) |
    @Html.ActionLink("Back to List", "Index")
</p>
