@model IEnumerable<ZOO_PROYECT.Models.Trabajador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTrab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoTrab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionTrab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoTrab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSangreTrab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona.NombreZona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTrab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoTrab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionTrab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoTrab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSangreTrab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zona.NombreZona)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTrab }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTrab }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTrab })
        </td>
    </tr>
}

</table>
