@model ZOOLO.Models.ParqueadreoVehiculo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ParqueadreoVehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parqueadreo.TelefonoPar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parqueadreo.TelefonoPar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.MarcaVehi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehiculo.MarcaVehi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEntradaParVehi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEntradaParVehi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraEntradaParVehi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntradaParVehi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalidaParVehi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalidaParVehi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSalidaParVehi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalidaParVehi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumPersonasPlansClie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumPersonasPlansClie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPlansClie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPlansClie)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
